
<!DOCTYPE html>
    <html>
      <head>
              <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- 1. Add these JavaScript inclusions in the head of your page -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
       <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>


        <!-- 2. Add the JavaScript to initialize the chart on document ready -->
        <script type="text/javascript">
        
          // <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
 
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src = "scatter4.js"></script>

<div id="container" style="min-width: 1000px; height: 900px; max-width: 1800px; margin: 0 auto"></div>
<pre id="csv" style="display:none"> 

</pre>
</head>
<body>
</body>
</html>